# Dependencies
node_modules/

# Build output
dist/

# Environment variables
.env
.env.local
.env.*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.idea/
*.sublime-workspace
*.sublime-project

# OS files
.DS_Store
Thumbs.db

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Debug
.debug/

# Local Vite files
*.local

# Cache directories
.cache/
.eslintcache
.parcel-cache

# Type cache
*.tsbuildinfo

# Misc
*.pem
